<div class="row justify-content-md-center">
    <div style="margin-top:100px;">
        <img src="/images/photo1.jpg" alt="">
        <h2>Welcome to GoGoCoach.</h2>
        <p>Offering the largest network of coaches with extensive training resources for athletes and fitness enthusiasts.</p>
    
        <div style="display:block">
            <a href="/registerclient"><button class="btn btn-success" >Find a Coach</button></a>

            <a href="/registercoach"><button class="btn btn-success">Apply as Coach</button></a>
        </div>
    </div>
</div>
 
    
    
    
    