<div class="row justify-content-md-center mb-3" style="margin-top: 20px">
    <div class="col-md-4" style="margin-top: 70px">
        <h3>GoGo Coach Welcomes you!</h3>
        <br>
        <h4>Register your details here and get a free acount!</h4>
    </div>
    <div class="col-md-4" style="margin-top: 50px">
        {{#if message}}
        <div class="alert {{messageClass}}" role="alert">
            {{message}}
        </div>
        {{/if}}
        <form method="POST" action="/register">
            <div class="form-group">
                <label for="firstName">First Name <sup>*</sup></label>
                <input name="firstName" type="text" class="form-control" id="firstName" required
                    placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name <sup>*</sup></label>
                <input name="lastName" type="text" class="form-control" id="lastName" required
                    placeholder="Enter surname">
            </div>
            <div class="form-group">
                <label for="email">Email address <sup>*</sup></label>
                <input name="email" type="email" class="form-control" id="email" required placeholder="Enter email"
                    title="Please use this detail as your userid to login!">
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth <sup>*</sup></label>
                <input name="dateOfBirth" type="datetime-local" class="form-control" id="dateOfBirth" required placeholder="Enter date Of Birth">
            </div>
            <div class="form-group">
                <label for="password">Password <sup>*</sup></label>
                <input name="password" type="password" class="form-control" id="password" required
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
                    placeholder="Password">
            </div>
            
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <a class="mt-3" href="/login">Already have an account? Log In here.</a>
    </div>
</div>